.contact-back-img .fa{font-size:40px;}
#banner{    width: 100%;
    position: relative;
    background: url(../images/coffee9.jpg) center bottom no-repeat;
    background-size: cover;
    padding: 100px 0 100px 0;}
    #banner .first-col{
    	background:#ffffffd1;
    }
.navbar img{width:40%;}
body
{
	font-family: sans-serif;
}

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right,#d2691e,#cd5c5c);
	padding: 1px !important;
}
   
  




.navbar-nav li
{
	padding: 0 10px;

}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
}

.promo-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
	color: #800000;
	font-family: Snell Roundhand, cursive;

.row


}
.social-icons a:hover img
{
	transform: translateY(-10px);
}

/*--------------------------contact us---------------------*/




